@inherits LayoutComponentBase

@inject CustomAuthenticationStateProvider CustomAuthSP

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

    <main>
        <div class="bb-top-row px-4 d-flex justify-content-end">
            <AuthorizeView>
                <Authorized>
                    <button class="btn btn-link" @onclick="Logout">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <a href="/login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            <div class="py-2">@Body</div>
        </article>
    </main>
</div>

@code {
    private bool isLoggedIn = false;

    private async Task Logout()
    {
        await CustomAuthSP.Logout();
    }
}